.createContact {
	display: flex;
	width: 50%;
	align-content: center;
	align-items: center;
	font-family: 'Times New Roman', Times, serif;
	flex-direction: column;

	margin-left: 400px;
	margin-top: 60px;
}

.createContact > h1 {
	font-family: 'Times New Roman', Times, serif;
	padding: 10px;
	margin: 10px;
}

.createContact > form {
	display: grid;
	grid-template-columns: 1fr 2fr;
	border: 2px solid black;
	width: 700px;

	margin: 15px;
}
.createContact > form > h3 {
	padding: 10px;
	margin: 5px;
}

.createContact > form > select {
	height: 35px;
	width: 92%;
	margin-left: 10px;
}
.createContact > form > input {
	margin: 10px;
	width: 90%;
}
.createContact > button {
	margin: 10px;
	padding: 5px;
	width: 400px;
	height: 30px;
	border-radius: 12px;
}

@media (max-width: 700px) {
	.createContact {
		width: 400px;
		display: flex;
		align-self: flex-start;

		margin-left: 100px;
		border: 2px solid grey;
		padding: 5px;
	}

	.createContact > form {
		width: 350px;
	}
	.createContact > form > input {
		height: 25px;
	}
}

@media (max-width: 650px) {
	.createContact {
		width: 400px;
		display: flex;
		align-self: flex-start;

		margin-left: 100px;
		border: 2px solid grey;
		padding: 5px;
	}

	.createContact > form {
		width: 350px;
	}
	.createContact > form > input {
		height: 25px;
	}
}

@media (max-width: 900px) {
	.createContact {
		width: 500px;
		display: flex;
		align-self: flex-start;

		margin-left: 100px;
		border: 2px solid grey;
		padding: 5px;
	}

	.createContact > form {
		width: 450px;
	}
	.createContact > form > input {
		height: 25px;
	}
}

@media (max-width: 1200px) {
	.createContact {
		width: 600px;
		display: flex;
		align-self: flex-start;

		margin-left: 100px;
		border: 2px solid grey;
		padding: 5px;
	}
	.createContact > form {
		width: 550px;
	}
	.createContact > form > input {
		height: 25px;
	}
}
